[Unit]
Description=Ultahost VM Agent
After=network.target

[Service]
ExecStart=/usr/local/bin/run-agent
EnvironmentFile=/etc/run-agent.env
Restart=always

[Install]
WantedBy=multi-user.target
